doctype html              
html.
  <!DOCTYPE html>
  <!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
  <html lang="en-us">

  <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>CS+X DB final</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="/stylesheets/simple.css" />
          <link rel="stylesheet" href="/stylesheets/fancy_btn.css" />
          <script src="/javascripts/simple.js"></script>
          <script src="/javascripts/simple2.js"></script>
          <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>-->
          <!--<script type="text/javascript" src="/javascripts/particles.min.js"></script>-->
          
          <script type="text/javascript" src="/javascripts/particles.min.js"></script>
          
          
          <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">-->
          <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
          <script src="/javascripts/kickstart.js"></script> <!-- KICKSTART -->
          <link rel="stylesheet" href="/stylesheets/kickstart.css" media="all" /> <!-- KICKSTART -->
          
          <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
          <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <style>
          body,h1,h2,h3,h4,h5,h6 {
                  font-family: "Raleway", sans-serif
          }
          </style>
  </head>

  <body class="container grid" style="max-width:1600px;">
          <div class="main-structure">
                  <div class="main-badge"></div>
                  <div class="main-content">    
                  <div class="login-page">
                                  <div class="login-content" style="300px">
                                      <button class="loginbtn blue large" id="loginbtn" ><i class="fa fa-star"></i> Log in</button>
                                  </div>
                          </div>
              </div>
      </div>
      <div id="particles-js"></div>

  </body>

  </html>
